<div class="container-fluid" [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg'" style="min-height: 100%;">
  <div class="container">
    <div class="row">
      <div *ngIf="advert" class="col-12 col-lg-7">
        <!-- Left: Title, company, experience/type/salary, tech stack-->
        <div class="row justify-content-center z-depth-1 rounded mt-2 py-5"
        [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
          <div class="col-12 text-center my-auto">
            <!-- Title -->
            <div class="accent-underline"
            [ngClass]="!isDarkTheme ? 'primary-text' : 'primary-text-darkmode'">
              <h2 ><strong>{{ advert.name }}</strong></h2>
            </div>
          </div>
        </div>
        <div class="row z-depth-1 rounded mt-4 py-4"
        [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
          <div class="col-12 text-center col-lg-2 my-auto">
            <!-- Company icon -->
            <img class="img-thumbnail rounded-circle " width="70" alt="thumbnail" [src]="advert.employer.logo">
          </div>
          <div class="col-12 col-lg-3 text-center my-auto">
            <!-- Company name -->
            <p class="disclaimer-text mb-1">Nazwa firmy</p>
            <span class="">
              <h3><strong>{{advert.employer.name}}</strong></h3>
            </span>
          </div>
          <div class="col-12 col-lg-3 text-center my-auto">
            <!-- Company Size-->
            <p class="disclaimer-text mb-1">Rozmiar firmy</p>
            <span class="">
              <h4><b>{{advert.employer.size}}</b></h4>
            </span>
          </div>
          <div class="col-12 col-lg-4 text-center my-auto">
            <!-- Company website-->
            <p class="disclaimer-text mb-1">Strona firmy</p>
            <a [href]="advert.employer.website">
              <h5 class="text-truncate">{{advert.employer.website}}</h5>
            </a>
          </div>
        </div>
        <!-- Requirements/profits -->
        <div class="row z-depth-1 justify-content-center rounded mt-4 py-4"
        [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
          <div class="col-4 text-center">
            <p class="disclaimer-text mb-0">Doświadczenie</p>
            <p class="font-weight-bold mb-0">{{advert.experience}}</p>
          </div>
          <div class="col-4 text-center border-left border-right">
            <p class="disclaimer-text mb-0">Rodzaj zatrudnienia</p>
            <p class="font-weight-bold mb-0">{{advert.employment}}</p>
          </div>
          <div class="col-4 text-center">
            <p class="disclaimer-text mb-0">Wynagrodzenie</p>
            <p class="font-weight-bold mb-0">{{advert.salary_from}} - {{advert.salary_to}}</p>
          </div>
        </div>
      </div>
      <div class="col-0 col-lg-5 mt-2 d-none d-lg-block">
        <!-- Right: Map -->
        <app-open-street-map [advert]="advert"></app-open-street-map>
      </div>
    </div>
    <div class="row py-4 justify-content-center">
      <div *ngIf="advert?.tech_stack" class="col-12 z-depth-1 py-3 pb-3"
      [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
        <h4 class=""> <span class="ml-2 mt-2"> Pożądane umiejętności </span></h4>
        <div class="underline"></div>

        <div *ngIf="advert?.tech_stack" class="row mb-3">
          <!-- class="text-white accent-bg badge text-wrap mt-1 mt-lg-0 mr-2" -->
          <div *ngFor="let tech of advert.tech_stack" class="rounded-big text-center col-auto mx-2 mx-lg-3 mt-3 z-depth-1"
            style="height: 5rem; min-width: 5rem;">
            <div class="row h-100">
              <div class="col-12 my-auto">
                {{tech.tag}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="advert" class="col-12 my-3 py-4 z-depth-1 rounded"
      [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
        <div class="col-12 underline " [innerHTML]="advert.description">
          <!-- Advert description -->
        </div>
        <div class="col-12 py-2 my-auto">
          <!-- Disclaimer ??-->
          {{advert.disclaimer}}
        </div>
      </div>
    </div>
    <!-- Display loading spinner if cant fetch advert -->
    <div *ngIf="!advert" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Form component -->
    <app-application-form ></app-application-form>

    <button mdbBtn mdbWavesEffect class="rounded waves-effect mb-5" (click)="goBack();"
    [ngClass]="{'primary-border' : !isDarkTheme , 'primary-border-darkmode' : isDarkTheme}">
      Wstecz </button>
  </div>
</div>
