<div class="container-fluid rmpm">
  <!-- Filters -->
  <div *ngIf="filters !== undefined" class="mb-3 mt-2">
    <mdb-card>
      <mdb-card-body>
        <div class="container">
          <div class="form-group row justify-content-center">
            <div class="col-2 my-auto">
              <div class="btn-group btn-block" mdbDropdown>
                <button #techButton mdbDropdownToggle type="button" mdbBtn color="default" outline="true" size="md" class=" dropdown-toggle z-depth-0"
                  mdbWavesEffect>{{selectedFilters?.technology || "Technologia"}}</button>
                <div class="dropdown-menu">
                  <ul class="rmpm">
                    <li *ngFor="let tech of filters['tech']" (click)="selectTechOption(tech);" class="dropdown-item" >{{tech}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-2 my-auto">
              <div class="btn-group btn-block" mdbDropdown [autoClose]="false">
                <button #techButton mdbDropdownToggle type="button" mdbBtn color="default" outline="true" size="md" class="dropdown-toggle z-depth-0"
                  mdbWavesEffect >
                  {{(selectedFilters.salaryMin == 0
                    && selectedFilters.salaryMax == 20000
                    && salaryMin.pristine
                    && salaryMax.pristine) ? "Wynagrodzenie" : (selectedFilters.salaryMin + " - " + selectedFilters.salaryMax)}}
                </button>
                <div class="dropdown-menu">
                  <span class="font-weight-bold text-primary ml-2 valueSpan2">Od: {{selectedFilters.salaryMin}} </span>
                  <input type="range" min="0" max="20000" step="100" class="custom-range pl-2 pr-2" id="salaryMin" #salaryMin="ngModel" [(ngModel)]="selectedFilters.salaryMin">
                  <span class="font-weight-bold text-primary ml-2 valueSpan2">Do: {{selectedFilters.salaryMax}} </span>
                  <input type="range" min="0" max="20000" step="100" class="custom-range pl-2 pr-2" id="salaryMax" #salaryMax="ngModel" [(ngModel)]="selectedFilters.salaryMax">
                </div>
              </div>
            </div>
            <div class="col-2 my-auto">
              <div class="btn-group btn-block" mdbDropdown>
                <button #techButton mdbDropdownToggle type="button" mdbBtn color="default" outline="true" size="md" class="dropdown-toggle z-depth-0"
                  mdbWavesEffect>{{selectedFilters?.exp || "Doświadczenie"}}</button>
                <div class="dropdown-menu">
                  <ul class="rmpm">
                    <li *ngFor="let exp of filters['exp']" (click)="selectExpOption(exp);" class="dropdown-item" >{{exp}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3 my-auto">
              <div class="md-form">
                <input mdbInput  type="text" class="form-control " id="inputCity" placeholder="Miasto" [(ngModel)]="selectedFilters.city">
              </div>
            </div>
            <div class="col-1 my-auto">
              <button type="submit" class="waves-effect waves-light btn" (click)="filterAdverts();"> Filtruj </button>
            </div>
          </div>
       </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
    <!-- List -->
<div class="container ">
  <div class="row">
    <div class="col-12">
      <div *ngIf="advertList?.length === 0" class="text-center">
        <h5> Nie znaleziono ofert spełniających wymagania </h5>
      </div>
      <mdb-card *ngFor="let advert of advertList;" class="hoverable mb-4 rounded-lg ">
        <a [routerLink]="['/details', advert.id]">
          <mdb-card-body >
            <div class="row text-dark">
              <div class="col-auto ml-5">
                <img class="img-thumbnail rounded-circle float-left" width="70" alt="thumbnail"  [src]="advert.employer.logo">
              </div>
              <div class="col-5 ">
                <div class="row ">
                  <div class="col-auto">
                    <span class=""> <h5> {{advert.name}} </h5></span>
                  </div>
                  <div *ngIf="advert?.salary_from" class="col">
                    <span class=""> <b>{{advert.salary_from}} - {{advert.salary_to}} {{advert.currency}} </b></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span> {{advert.employer.name}} </span>
                    <span>  {{advert.city}} </span>
                  </div>
                </div>
              </div>
              <div class="col my-auto text-right mr-5">  <!-- Tech-->
                <span> {{advert.technology}} </span>
              </div>
              <div class="col-1 my-auto text-center mr-2">  <!-- Left aligned tech. icon -->
                <span> {{advert.technology}} </span>
              </div>
            </div>
          </mdb-card-body>
        </a>
      </mdb-card>
    </div>
  </div>
</div>

<button type="button" mdbBtn color="primary" mdbWavesEffect (click)="log()">Primary</button>
