h4 {
  font-size: 1.2rem;
}
.text-primary-color, .text-primary-color-darkmode {
  font-size: 0.8rem;
}

.grey-text {
  font-size: 0.8rem;
}

.text-technology {
  font-size: 1.3vh;
}

.filter-border {
  border: 2px solid #B3E5Fc;
  color: #03A9F4;
}

button.filter-border {
  font-size: 65%;
}
