 <!-- Form -->
 <div class="card w-100 my-5"
 [ngClass]="!isDarkTheme ? 'light-bg' : 'dark-bg-surface'">
   <div class="card-body">
     <div class="d-flex card-title">
       <h2>Aplikuj na ofertę</h2>
     </div>
     <form id="applicationForm" enctype="multipart/form-data" [formGroup]="applicationForm">
       <input type="hidden" name="_token">
       <div class="row justify-content-center">
         <div class="col-8 col-sm">
           <div *ngIf="showForm" class="md-form">
             <input mdbInput name="name" id="name" type="text" aria-label="Text input for First and Last Name"
               class="form-control" [ngClass]="{'dark-bg-surface' : isDarkTheme }"
               formControlName="name">
             <label for="name" [ngClass]="{'dark-bg-surface' : isDarkTheme }">Imię i Nazwisko*</label>
           </div>
         </div>
         <div class="col-8 col-sm">
           <div *ngIf="showForm"  class="md-form">
             <input mdbInput name="email" id="email" type="email" aria-label="Text input for email"
               class="form-control" [ngClass]="{'dark-bg-surface' : isDarkTheme }"
               formControlName="email">
             <label for="email" [ngClass]="{'dark-bg-surface' : isDarkTheme }">Email*</label>
           </div>
         </div>
       </div>
       <div class="row justify-content-center">
         <div class="col-8 col-sm">
           <div *ngIf="showForm"  class="md-form">
             <!-- Change -->
             <input mdbInput name="links" id="links" type="text" aria-label="Text input for additional links"
               class="form-control" [ngClass]="{'dark-bg-surface' : isDarkTheme }"
               formControlName="links">
             <label for="links" [ngClass]="{'dark-bg-surface' : isDarkTheme }">Opowiedz o sobie (LinkedIn/GitHub link)*</label>
           </div>
         </div>
         <div *ngIf="showForm" class="col-8 col-sm my-auto">
           <div class="input-group">
             <div class="custom-file">
               <input type="file" name="file" class="custom-file-input" id="fileInput"
                aria-label="File input" lang="pl-Pl" (change)="fileEvent($event)"
                [ngClass]="{'dark-bg-surface' : isDarkTheme }" accept="application/pdf"
                formControlName="fileInput">
               <label class="custom-file-label" for="fileInput"
                 [ngClass]="{'dark-bg-surface' : isDarkTheme }"><span
                   class="text-truncate">{{fileInput==='' ? 'Wybierz plik*': fileInput}}</span></label>
             </div>
           </div>
         </div>
       </div>
      <div class="row">
        <div *ngIf="postResponse?.error" class="col mt-3">
          <div class="d-flex justify-content-center">
            <div class="alert alert-danger px-5 w-100 text-center" role="alert">
              <span> {{postResponse?.error}} </span>
            </div>
          </div>
        </div>
        <div *ngIf="postResponse?.ok" class="col mt-3">
          <div class="d-flex justify-content-center">
            <div class="alert alert-success px-5 w-100 text-center" role="alert">
              <span> {{postResponse?.ok}} </span>
            </div>
          </div>
        </div>
        <div class="col-12">
           <div class="d-flex" [ngClass]="showForm ? 'justify-content-end' : 'justify-content-center'">
             <div class="md-form mb-0">
              <button [disabled]="!applicationForm.valid && showForm" class="btn light-blue text-white btn-block" type="submit" (click)="submitForm()"
              [ngClass]="{'darken-3' : isDarkTheme}">
                Aplikuj
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
