/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.spy {
  background-color: rgb(0, 255, 34);
  opacity: 0.7;
}

.spy2 {
  background-color: rgb(234, 0, 255);
  opacity: 0.7;
}
.spy3 {
  background-color: lightblue;
  opacity: 0.5;
}

.rmpm {
  margin: 0px;
  padding: 0px;
}

.disclaimer-text {
  font-size: 14px;
  opacity: 0.7;
}

.rounded{
  border-radius: 10px;
}

.rounded-big {
  border-radius: 25px;
}

$dark-primary-color: #0288D1;
$primary-color: #03A9F4;
$light-primary-color: #B3E5Fc;
$primary-text: #212121;
$secondary-text: #757575;
$text-icons: #ffffff;
$accent-color: #FFC107;
$divider-color: #BDBDBD;

.underline {
  border-bottom: 1px solid $divider-color;
}

.primary-border {
  border: 1px solid $primary-color;
}

.primary-border-bottom {
  border-bottom: 1px solid $primary-color;
}

.text-primary-color{
  color: #03A9F4;
}

.primary-text {
  color: #212121;
}

.secondary-text{
  color: #757575;
}

.accent-bg {
  background-color: #FFC107;
  border-radius: 50px;
}

.accent-underline {
  border-bottom: 1px solid $accent-color;
}

.light-bg {
  background-color: $light-primary-color;
  color: $primary-text;
}

button.primary-border:hover {
  background-color: $primary-color;
  color: white;
}

li {
  cursor: pointer;
}

.hoverable {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.hoverable:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

.rounded-y {
  border-radius: 0px 10px 10px 0px;
}
