/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Utitlities
.rmpm {
  margin: 0px;
  padding: 0px;
}

.disclaimer-text {
  font-size: 14px;
  opacity: 0.5;
}

.rounded{
  border-radius: 10px;
}

.rounded-big {
  border-radius: 25px;
}

li {
  cursor: pointer;
}

.rounded-y {
  border-radius: 0px 10px 10px 0px;
}

// Light Theme
$dark-primary-color: #0288D1;
$primary-color: #03A9F4;
$light-primary-color: #B3E5Fc;
$primary-text: #212121;
$secondary-text: #757575;
$text-icons: #ffffff;
$accent-color: #FFC107;
$divider-color: #BDBDBD;

.underline {
  border-bottom: 1px solid $divider-color;
}


.primary-border-bottom {
  border-bottom: 1px solid $primary-color;
}

.text-primary-color {
  color: $primary-color;
}

.primary-text {
  color: $primary-text;
}

.secondary-text{
  color: $secondary-text;
}

.accent-bg {
  background-color: #FFC107;
  border-radius: 50px;
}

.accent-underline {
  border-bottom: 1px solid $accent-color;
}

.light-bg {
  background-color: #fff;
  color: $primary-text;
}

.primary-border {
  border: 1px solid $primary-color;
}

button.primary-border:hover {
  background-color: $primary-color;
  color: white;
}

  // Z-depth shadows
.hoverable {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.hoverable:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

// Dark theme
$dark-bg: #19191A;
$dark-surface: #303031;

.text-primary-color-darkmode {
  color: $light-primary-color;
}

.primary-text-darkmode {
  color: #FFFFFF;
}

.opacity100 {
  opacity: 1;
}

.dark-bg {
  background-color: $dark-bg !important;
  color: #fff;
}

.dark-bg-surface {
  background-color: $dark-surface;
  color: #fff;
}

.primary-border-darkmode {
  border: 1px solid $dark-primary-color;
}

button.primary-border-darkmode:hover {
  background-color: $dark-primary-color;
  color: white;
}

input:focus + label.dark-bg-surface {
  color: #fff !important;
}

label.dark-bg-surface {
  color: #fff !important;
}

input.dark-bg-surface:focus {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}



